.label-login-title {
  font-size: x-large;
  color: black;
  margin: 0.625rem 0.625rem;
}

.btn-login {
  width: 75%;
  color: black;
  background-color: #2d39a3 !important;
  margin-top: 0.313rem;
  transition: 0.2s;
  letter-spacing: 0.188rem;
}

.btn-login:hover {
  box-shadow: 0rem 0rem 0.313rem whitesmoke;
  /* border: none; */
}

.main-card-login {
  height: 100vh;
  width: 100vw;
  /* height: 58.7rem;
  width: 117.45rem; */
  /* background-color: rgb(0, 0, 0); */
  /* background: #ddd; */
  /* background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.188rem;
}

.card-rigth-tamanho-quadrado {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-login-quadrado {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.25rem;
  background-color: #5f5f5f;
  border-radius: 0.938rem;
  box-shadow: 0rem 0rem 1.25rem rgba(255, 255, 255, 0.164);
}

.textfield-usuario-login {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  font-weight: 500;
}

.textfield-senha-login {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  font-weight: 500;
}

.input-usuario-login {
  width: 100%;
  border: none;
  margin-top: 0.625rem;
  border-radius: 0.125rem;
  padding: 0.313rem 0.375rem 0.313rem 0.375rem;
  background-color: #ebeaea;
  color: black;
  font-size: 10pt;
  box-sizing: border-box;
}

.input-senha-login {
  width: 100%;
  border: none;
  margin-top: 0.625rem;
  border-radius: 0.125rem;
  padding: 0.313rem 0.375rem 0.313rem 0.375rem;
  background-color: #ebeaea;
  color: black;
  font-size: 10pt;
  box-sizing: border-box;
}

.input-usuario-login:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.error-message-login {
  color: red;
}

.registrar-login {
  color: black;
}

.ir-login {
  color: rgb(255, 0, 255);
}
