.navbar-nav {
  background-color: grey;
  width: 100vw;
  height: 10vh;
  position: static;
  top: 0px;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0;
  justify-content: end;
  height: 100%;
  letter-spacing: 3px;
}

.item {
  margin-right: 70px;
}

a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.513);
  text-decoration: inherit;
}
a:hover {
  color: black;
}
